@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ql-editor, .typography {
    /* font-family: 'Georgia', serif; */
    /* display: flex;
        margin: auto;
        justify-content: center; */

    font-size: 18px !important;
    line-height: 1.8rem !important;
    font-smooth: 2em;
    -webkit-font-smoothing: subpixel-antialiased;    
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    @apply text-editortext;
    @apply dark:text-dmeditortext;
  }

  .quill {
    @apply text-editortext;
    @apply dark:text-dmeditortext;
    @apply h-full;
    border: 0 !important;
    @apply h-full;
    @apply w-full;
    /* @apply bg-red-400; */
  }

  .ql-toolbar {
    /* filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(86deg) brightness(0%) contrast(119%); */
    @apply bg-slate-300;
    border: 0 !important;
    display: none;
    @apply p-2;
    @apply rounded-md;
    @apply mb-sm;
    /*         @apply border-slate-600;
        @apply border-b !important;
 */
  }

  .ql-editor,
  .ql-container {
    @apply typography;
    border: 0 !important;
    padding: 0 !important;
    
    @apply h-full;
    @apply w-full;
  }

  .heading {
    @apply text-3xl;
    @apply font-light;
    @apply mb-sm;
    @apply mt-md;
    @apply text-highlight;
    @apply font-georgia;
  }

  /* 
    .h3 {
        @apply text-md;
        @apply uppercase;
        @apply font-semibold;
    } */
}

.chaptergrid {
  height: 100%;
  width: 100%;
  margin: 0;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}


.ql-clipboard {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  display: none;
}


code[class*="language-"],
pre[class*="language-"] {
	font-family: "Fira Mono", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace;
	font-size: 16px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	word-spacing: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background: #322931;
	color: #b9b5b8;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #797379;
}

.token.punctuation {
	color: #b9b5b8;
}

.namespace {
	opacity: .7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
	color: #fd8b19;
}

.token.property {
	color: #fdcc59;
}

.token.tag {
	color: #1290bf;
}

.token.string {
	color: #149b93;
}

.token.selector {
	color: #c85e7c;
}

.token.attr-name {
	color: #fd8b19;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #149b93;
}

.token.placeholder,
.token.variable {
	color: #1290bf;
}

.token.important {
	color: #dd464c;
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid red;
	outline-offset: .4em;
}

code[class*="language-"],
pre[class*="language-"] {
    word-wrap: normal;
}