@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .typography {
        font-family: 'Georgia', serif;
        /* display: flex;
        margin: auto;
        justify-content: center; */

        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;      
        @apply text-text;
        @apply dark:text-dmtext;
    }

    .quill {
        @apply text-text;
        @apply dark:text-dmtext;
        @apply h-full;
        border: 0 !important;
    }

    .ql-toolbar {
        /* filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(86deg) brightness(0%) contrast(119%); */
        @apply bg-slate-300;
        border: 0 !important;
        display: none;
        @apply p-2;
        @apply rounded-md;
        @apply mb-sm;
/*         @apply border-slate-600;
        @apply border-b !important;
 */       
    }   

    .ql-editor, .ql-container { 
       @apply typography;
       font-size: 20px;
       line-height: 30px;
       border: 0 !important;
       padding: 0 !important;
    }

    .heading {
        @apply text-3xl;
        @apply font-light;
        @apply mb-sm;
        @apply mt-md;
        @apply text-highlight;
        @apply font-georgia;
    }
}


.chaptergrid {
    height: 100%;
    width: 100%;
    margin: 0;
}
.chaptergrid {
    background-image:
      repeating-linear-gradient(#888 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #888 0 1px, transparent 1px 100%);
    background-size: 222px 147px;
}

pre {
    white-space:pre-line;
    word-wrap: break-word;
}