@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ql-editor, .typography {
    /* font-family: 'Georgia', serif; */
    /* display: flex;
        margin: auto;
        justify-content: center; */

    font-size: 18px !important;
    line-height: 36px !important;
    font-smooth: 2em;
    -webkit-font-smoothing: subpixel-antialiased;    
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    @apply text-editortext;
    @apply dark:text-dmeditortext;
  }

  .sansSerif {
    font-family: 'Promima sans', Roboto, 'Noto sans', 'Inter', sans-serif;
  }

  .serif {
    font-family: 'Minion', 'Georgia', serif;
    
  }

  .red {
    @apply border;
    @apply border-red-500;
  }

  .green {
    @apply border;
    @apply border-green-500;
  }

  .blue {
    @apply border;
    @apply border-blue-500;
  }

  .settings_label {
    @apply block;
    @apply text-sm;
    @apply font-light;
    @apply leading-6;
    @apply text-text;
    @apply dark:text-dmtext;
    @apply uppercase;
  }

  .quill {
    @apply text-editortext;
    @apply dark:text-dmeditortext;
    @apply h-full;
    border: 0 !important;
    @apply h-full;
    @apply w-full;
    /* @apply bg-red-400; */
  }

  .ql-toolbar {
    /* filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(86deg) brightness(0%) contrast(119%); */
    @apply bg-slate-300;
    border: 0 !important;
    display: none;
    @apply p-2;
    @apply rounded-md;
    @apply mb-sm;
    /*         @apply border-slate-600;
        @apply border-b !important;
 */
  }

  .ql-editor,
  .ql-container {
    @apply typography;
    border: 0 !important;
    padding: 0 !important;
    
    @apply h-full;
    @apply w-full;
  }

   .font-mono p {
    font-family: monospace !important;
    font-size: 16px !important;
    line-height: 1.5rem !important;
    font-smooth: 0em;
    -webkit-font-smoothing: auto;    
    
  }

  .fillers, .hedges, .cliches, .jargon {
    @apply bg-blue-800;
    @apply text-gray-100;
    @apply p-1;
    @apply rounded-md;
    @apply h-min;
  }

  .longline {
    /* @apply border-dotted; */
    @apply border-b-2;
    @apply border-rose-800;
  }

  .selectedText {
    @apply bg-blue-400;
    @apply text-gray-100;
    @apply p-1;
    @apply rounded-md;
    @apply h-min;
  }

  .heading {
    @apply text-3xl;
    @apply font-light;
    @apply mb-sm;
    @apply mt-md;
    @apply text-highlight;
    @apply font-georgia;
  }

  .markdown h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply mt-sm;
    @apply mb-xs;
    
  }
  .markdown h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply mt-sm;
    @apply mb-xs;
    
  }
  .markdown h3 {
    @apply text-xl;
    @apply font-bold;
    @apply mt-sm;
    @apply mb-xs;
  }

  .markdown ul, .markdown li {
    list-style-type: '– ' !important;
    @apply mb-xs;
  }

  .markdown img {
    @apply my-sm;
    @apply mx-auto;
  }

  .markdown a {
    @apply py-1;
    @apply px-2;
    
    @apply border-b-2;
    @apply bg-blue-100;    
    @apply border-blue-200;
    @apply dark:bg-blue-900;
    @apply dark:border-blue-700;

  }

  .markdown table {
    @apply my-sm;
    /* @apply text-center; */
    @apply border-collapse;
    @apply border-2;
    @apply border-gray-300;
    @apply dark:border-gray-800;
  }

  .markdown tr {
    @apply border-2;
    @apply border-gray-300;
    @apply dark:border-gray-800;
  }

  .markdown thead {
    @apply bg-gray-200;
    @apply dark:bg-gray-700;
  }

  .markdown td, .markdown th {
    @apply border-2;
    @apply border-gray-300;
    @apply dark:border-gray-800;
    @apply px-xs;
    @apply py-1;
  }

  /* 
    .h3 {
        @apply text-md;
        @apply uppercase;
        @apply font-semibold;
    } */
}

.chaptergrid {
  height: 100%;
  width: 100%;
  margin: 0;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}


.ql-clipboard {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  display: none;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}