@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .typography {
    /* font-family: 'Georgia', serif; */
    /* display: flex;
        margin: auto;
        justify-content: center; */

    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    @apply text-text;
    @apply dark:text-dmtext;
  }

  .quill {
    @apply text-text;
    @apply dark:text-dmtext;
    @apply h-full;
    border: 0 !important;
    @apply h-full;
    @apply w-full;
    /* @apply bg-red-400; */
  }

  .ql-toolbar {
    /* filter: invert(48%) sepia(79%) saturate(100%) hue-rotate(86deg) brightness(0%) contrast(119%); */
    @apply bg-slate-300;
    border: 0 !important;
    display: none;
    @apply p-2;
    @apply rounded-md;
    @apply mb-sm;
    /*         @apply border-slate-600;
        @apply border-b !important;
 */
  }

  .ql-editor,
  .ql-container {
    @apply typography;
    @apply dark:text-gray-300;
    font-size: 18px;
    line-height: 24px;
    border: 0 !important;
    padding: 0 !important;
    @apply h-full;
    @apply w-full;
  }

  .heading {
    @apply text-3xl;
    @apply font-light;
    @apply mb-sm;
    @apply mt-md;
    @apply text-highlight;
    @apply font-georgia;
  }

  /* 
    .h3 {
        @apply text-md;
        @apply uppercase;
        @apply font-semibold;
    } */
}

.chaptergrid {
  height: 100%;
  width: 100%;
  margin: 0;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}
